body {
    background-color: rgb(148, 148, 148);
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: left;
}
#Title {
    text-align: center;
}
.ExperienceTitle {
    text-decoration: underline;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}