body {
    background-color: rgb(37, 37, 37);
    color: rgb(255,255,255);
    margin: auto;
    width: 75vw;
    padding: 10px;
    text-align: left;
}
#Title {
    text-align: center;
}
.ExperienceTitle {
    text-decoration: underline;
}
.References {
    text-align: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}
nav {
    font-size: 20px;
}