.center {
    text-align: center;
}

.tablecenter {
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}

body {
    display: block;
}

i {
    color: #a32d2a;
}

strong {
    color: #a32d2a;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


h1 {
    font-size: 300%;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 100%;
}

nav {
    font-size: 110%;
}

nav {
    text-align: center;
}

.img1 {
    width: 50%;
    height: 50%;
}

.img2 {
    width: 100%;
    height: 80%;
}

.img3 {
    width: 80%;
    height: 80%;
}

.img4 {
    width: 80%;
    height: 50%;
}